.jsPanel-content .page{
    overflow: hidden;
}

.jsPanel-content .page > div:first-child {
  margin-top: -30px;
  margin-left: -30px;
}

.jsPanel-content .page .rm-block-separator {
    min-width: 0px;
    max-width: 10px;
    flex: 0 0 0px;
}
.bp3-portal {
    z-index: 999;
}

.jsPanel .panel-title {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    font-variant-caps: initial;
}

.jsPanel-replacement {
    /* max-width: 350px; */
    width: unset;
    /* overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; */
}

.jsPanel .empty-add {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}
